/* page intro */
.guides-intro {
    padding: 3rem 2rem;
    max-width: 900px;
    margin: 0 auto 2rem auto;
    text-align: center;
    border-radius: 10px;
}

.guides-intro h1 {
    font-size: 2rem;
    color: var(--primary-color-blue);
    margin-bottom: 1rem;
}

.guides-intro p {
    font-size: 1.1rem;
    color: var(--primary-color-white);
    line-height: 1.6;
}

@media (max-width: 768px) {
    .guides-intro {
        padding: 2rem 1rem;
    }

    .guides-intro h1 {
        font-size: 1.6rem;
    }

    .guides-intro p {
        font-size: 1rem;
    }
}

/* guide sections */
.guide-section {
    background: var(--secondary-color-black);
    padding: 3rem 2rem;
    color: var(--primary-color-white);
    text-align: left;
    max-width: 900px;
    margin: 0 auto 2rem auto;
    border-radius: 10px;
}

.guide-section h2 {
    font-size: 2rem;
    color: var(--primary-color-blue);
    margin-bottom: 1rem;
}

.guide-section p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.guide-section ul {
    list-style: none;
    padding-left: 0;
}

.guide-section li {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    text-decoration: none;
}

.section-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.guide-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .guide-section {
        padding: 2rem 1rem;
    }

    .guide-section h2 {
        font-size: 1.7rem;
    }

    .guide-section p,
    .guide-section li {
        font-size: 1rem;
    }

    .guide-img {
        width: 100%;
        height: 100%;
    }
}
